.list {

}

.list-header {
  font-weight: 500;
  background-color: $color-grey-1;
  border: 1px solid $color-grey-2;
  color: $color-secondary-4;
  padding: 10px 0;
}

.list-item {
  border-bottom: 1px solid $color-grey-2;
  border-left: 1px solid $color-grey-2;
  border-right: 1px solid $color-grey-2;
  display: table;
  padding: 10px 0;
  position: relative;
  vertical-align: top;

  .image-container {
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid $color-grey-1;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
